// Variables


//Colores
$colorA: blueviolet;
$colorB: aqua;


//Mixin
@mixin display {
    text-align: center;
    padding: center;
    transition: ease-in 1s; 
}


@mixin nuevo {
    text-align: right;
    margin: auto;
    padding: 10px;
}


@mixin otro{
    padding: 0px;
    overflow:scroll;
}

// Map
$titulo: ( 
    h2: 25px,
    h3: 20px
);
 
$h2: map-get($titulo, h2);
$h3: map-get($titulo, h3);



 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: blueviolet;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#grilla {
    display: grid;
    grid-template-areas:
        "header header"
        "principal publicidad"
        "footer footer";
    grid-template-rows: 100px auto 140px;
    grid-template-rows: 80px auto 140px;
    grid-template-columns: 5fr 1fr;
    gap: 1em;
}
header {
    background-color: aqua;
 height: 150px;
 display:flex;
 justify-content: center;
}

#principal {
    grid-area: principal;
    border-right: 1px solid black;
}

main {
    margin-bottom: 100px;
}

footer {
    background-color: blueviolet;
    height: 120px;
}

hr {
    margin: 60px;
    border: 2px solid blueviolet
}

menu {
    display: inline;
    padding: 12px 15px 12px 15px;
}

.menu__lista li {
    display: inline;
    float: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu__lista ul {
    list-style-type: circle;
    margin: 0px;
    @include otro

}

.menu__lista li a {
    display: inline-flex;
    color:black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
.titulo_info {
    font-style: oblique;
    color: black;
    height: 60px;
    @include display;
}

.titulo_info:hover{font-size: 80px;}

.p__info {
   
    font-weight: 300;
    width: 80%;
    @include nuevo;
}

#tabla_contenido {
    width: 80%;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', sans-serif;
    font-size: medium;

}

.tabla_contenido h3 {
    padding: 1.5vw;
}
.contenido {
    width:33.33%;
    width: 33.33%;
    padding: 1.2vw;
    min-width: 100px;
    min-width: 100px;
}

.button {
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
}

.celeste {
    @extend .button;
    background: lightblue;
}

.rojo {
    @extend .button;
    background: red;
}

.naranja {
    @extend .button;
    background: orangered;
}

.container {
    @extend .button;
    text-align: center;
    font-size: 30px;
    background: green;
    width: 20%;
    margin: auto;
    color: white;
}




